<div class="message">
  <div class="kaiwa">
    <figure class="kaiwa-img-right">
      <%= attachment_image_tag profile_image, :image, size: "500x400",  fallback: "noimage.svg", class: "portfolio_image"%
      <figcaption class="kaiwa-img-description">
        <%= message.user.name %>
      </figcaption>
    </figure>
    <div class="kaiwa-text-right">
      <%= simple_format(message.content) %>
    </div>
  </div>
</div>