  <% if const.errors.any? %>
    <%= const.errors.count %> errors 
    <% const.errors.full_messages.each do |message| %>
     <li style="color: red;"><%= "・" + message %></li>
    <% end %>
   <% end %>