
 <h2><span style= "background:linear-gradient(transparent 70%, #FFFF00 0%);">サイト概要</span></h2><br>
  <p  class="animate__animated animate__fadeInTopLeft">portfolioの投稿サイト</p>

 <h3><span style= "background:linear-gradient(transparent 70%, #FFFF00 0%);">サイトテーマ</span></h3><br>
  <li class="animate__animated animate__fadeInTopLeft">・ポートフォリオの共有して、アドバイス、コメント、参考、などをしてよりよく改善する。 未経験が挑戦する目標や参考になればいい。</li>
  <li class="animate__animated animate__fadeInTopLeft">・ポートフォリオを作って、使ってもらったり、大勢の目に触れないのはもったいないと思うので 作って終わりでなく、使ってもらう事を目的にしたい。</li>

 <h3><span style= "background:linear-gradient(transparent 70%, #FFFF00 0%);">ターゲットユーザ</span></h3><br>
  <p class="animate__animated animate__fadeInTopLeft">未経験〜 itを目指す際の、目標だったり、こんなやつを作りたいと 参考になれれば良いと考え。</span></p>

 <h3><span style= "background:linear-gradient(transparent 70%, #FFFF00 0%);">主な利用シーン</span></h3><br>
  <p class="animate__animated animate__fadeInTopLeft">色々な人のポートフォリオを見て、使う 未経験、駆け出しエンジニア同士の情報交換</p>
 
 <h3><span style= "background:linear-gradient(transparent 70%, #FFFF00 0%);">使い方</span></h3><br>
  <p class="animate__animated animate__fadeInTopLeft">ゲストログインを押せば誰でもログインできます。(ゲストユーザーの編集、削除できません)</p>
 
 
 
