

<h2>サイト概要</h2>
<p>portfolioの投稿サイト</p>

<h3>サイトテーマ</h3>
<li>・ポートフォリオの共有して、アドバイス、コメント、参考、などをしてよりよく改善する。 未経験が挑戦する目標や参考になればいい。</li>
<li>・ポートフォリオを作って、使ってもらったり、大勢の目に触れないのはもったいないと思うので 作って終わりでなく、使ってもらう事を目的にしたい。</li>

<h3>ターゲットユーザ</h3>
<p>未経験〜 itを目指す際の、目標だったり、こんなやつを作りたいと 参考になれれば良いと考え。</p>

<h3>主な利用シーン</h3>
<p>色々な人のポートフォリオを見て、使う 未経験、駆け出しエンジニア同士の情報交換</p>