<div>
  <ul>
    <% @rooms.each do |room| %>
     <% if current_user.id == room.first_user_id || current_user.id == second_user_id %>
       <% @user = User.where(name: room.user_name).first %>
       <p><%= link_to "#{room.user_name}", room_path(room),data: {turbolinks: "false"} %></p>
     <% end %>
    <% end %>
  </ul>
</div>
